* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.counter {
  color: #c20a72;
}
.btn {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.heading {
  font-size: 30px;
  margin-bottom: 20px;
}
.description {
  font-size: 14px;
  margin-bottom: 10px;
}
